.Post{
    width: 250px;
    margin:0 1%;
    padding: 16px;
    text-align: center;
    display: inline-block;
    border: 2px solid grey;
    box-sizing: border-box;
    cursor: pointer;
}

.Post:hover,
.Post:active{
    background-color: #c0ddf5;
}